<div>
    <h6>Ragione sociale: </h6>
    <h6>Sede legale: </h6>
    <h6>Codice Fiscale: </h6>
    <h6>P. Iva: </h6>
    <h6>Iscrizione al Registro delle Imprese: (numero iscrizione e camera di commercio di riferimento) </h6>
    <h6>Privacy Policy: </h6>
    <h6>PEC:</h6>
</div>


<!--
ESEMPIO:
<div>
    <h6>[Denominazione Sociale dell'Azienda]</h6>
    <h6>Sede Legale: Via Esempio, 123, 00100 Roma (RM)</h6>
    <h6>Codice Fiscale e Partita IVA: 01234567890</h6>
    <h6>Iscrizione al Registro delle Imprese di Roma n. 123456</h6>
    <h6>Capitale Sociale: €10.000,00 i.v.</h6>
    <h6>Indirizzo PEC: azienda@pec.it</h6>
</div>
-->