<div class="why">
    <h3 class="title">Perchè scegliere noi?</h3>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor non, fuga corrupti aspernatur asperiores vitae cum hic natus amet exercitationem illum impedit a omnis inventore sed sapiente molestias porro quaerat.
    </p>
    <div #container (scroll)="onScroll()" class="container">
        <div class="card" style="width: 17rem;">
            <div class="card-inner">
                <div class="foto">
                    <img src="assets/tizio1.jpg" alt="tizio1">
                </div>
                <div class="content">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam voluptas in autem obcaecati alias, similique minus libero. Quidem eos, voluptate atque quos totam veniam odio officia maxime aperiam perferendis consectetur.
                    </p>
                </div>
            </div>
        </div> 

        <div class="card" style="width: 17rem;">
            <div class="card-inner">
                <div class="foto">
                    <img src="assets/tizio2.jpg" alt="tizio1">
                </div>
                <div class="content">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam voluptas in autem obcaecati alias, similique minus libero. Quidem eos, voluptate atque quos totam veniam odio officia maxime aperiam perferendis consectetur.
                    </p>
                </div>
            </div>
        </div> 

        <div class="card" style="width: 17rem;">
            <div class="card-inner">
                <div class="foto">
                    <img src="assets/tizio3.jpg" alt="tizio1">
                </div>
                <div class="content">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam voluptas in autem obcaecati alias, similique minus libero. Quidem eos, voluptate atque quos totam veniam odio officia maxime aperiam perferendis consectetur.
                    </p>
                </div>
            </div>
        </div> 

        <div class="card" style="width: 17rem;">
            <div class="card-inner">
                <div class="foto">
                    <img src="assets/tizio4.jpg" alt="tizio1">
                </div>
                <div class="content">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam voluptas in autem obcaecati alias, similique minus libero. Quidem eos, voluptate atque quos totam veniam odio officia maxime aperiam perferendis consectetur.
                    </p>
                </div>
            </div>
        </div> 

        <div class="card" style="width: 17rem;">
            <div class="card-inner">
                <div class="foto">
                    <img src="assets/tizio5.jpg" alt="tizio1">
                </div>
                <div class="content">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam voluptas in autem obcaecati alias, similique minus libero. Quidem eos, voluptate atque quos totam veniam odio officia maxime aperiam perferendis consectetur.
                    </p>
                </div>
            </div>
        </div> 

        <div class="card" style="width: 17rem;">
            <div class="card-inner">
                <div class="foto">
                    <img src="assets/tizio6.jpg" alt="tizio1">
                </div>
                <div class="content">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam voluptas in autem obcaecati alias, similique minus libero. Quidem eos, voluptate atque quos totam veniam odio officia maxime aperiam perferendis consectetur.
                    </p>
                </div>
            </div>
        </div> 
    </div>
</div>