.container{
    margin-top: 10%;
    border-top: 2px solid black;
    background-color: rgb(33, 37, 41);
}

h3{
    text-align: center;
    padding-top: 25px;
    color: white;
}

.contact-list{
    display: flex;
    justify-content: space-around;
    margin: 8% auto 0;
    padding-bottom: 20px;
}

.contact-list > li{
    display: block;
}

.contact-list .icon{
    color: white; 
}


#email:hover .envelope{
    fill: #4682B4; 
}

#email:hover .at-sign{
    fill: #B22222; 
}

#instagram:hover path{
    fill: url(#instagram-gradient);
}

#phone:hover path{
    fill: #1E90FF;
}

#whatsapp:hover path{
    fill: #25D366;
}