<div class="container">

    <h2 class="title">Privacy Policy:</h2>
    <div class="content">
        Questo sito non raccoglie né tratta dati personali dei visitatori. Non è presente alcun sistema di raccolta dati, come form di contatto, iscrizioni a newsletter, o cookie di profilazione.
    </div>

    <h2 class="title">Dati di navigazione:</h2>
    <div class="content">
        Per il funzionamento e la sicurezza del sito, i dati di navigazione (come indirizzi IP e dati tecnici di accesso) possono essere raccolti automaticamente dai server che ospitano il sito. Tuttavia, questi dati non sono utilizzati dal titolare del sito per identificare i visitatori.
    </div>

    <h2 class="title">Cookie:</h2>
    <div class="content">
        Questo sito non utilizza cookie di profilazione. Eventuali cookie tecnici sono impiegati solo per il corretto funzionamento del sito e non raccolgono dati personali.
    </div>

    <h2 class="title">Contatti:</h2>
    <div class="content" id="content-contact">
        Per eventuali informazioni o richieste, è possibile contattare il titolare del sito tramite l’indirizzo PEC orlandogarden&#64;pec.it.
    </div>

</div>
