<h3>I nostri servizi:</h3>
<div class="card-container">
    <div class="card" style="max-width: 48%">
        <img src="assets/service1.jpg" alt="servizio">
    </div> 
    <div class="description">
        Manutenzione del Prato e delle Aree Verdi    
    </div>
</div>
<div class="card-container">
    <div class="card" style="max-width: 48%">
        <img src="assets/service1.jpg" alt="servizio">
    </div> 
    <div class="description">
        Cura di Alberi e Arbusti    
    </div>
</div>
<div class="card-container">
    <div class="card" style="max-width: 48%">
        <img src="assets/service1.jpg" alt="servizio">
    </div> 
    <div class="description">
        Controllo di Parassiti e Malattie    
    </div>
</div>
<div class="card-container">
    <div class="card" style="max-width: 48%">
        <img src="assets/service1.jpg" alt="servizio">
    </div> 
    <div class="description">
        Realizzazione di Aiuole e Piantumazione    
    </div>
</div>
